// Variables
$black: #404040;
$white: #ffffff;
$gray: #f1f1f1;
$blue: #005c99;

// Mixins
@mixin translateY($e) {
    -webkit-transform: translateY($e);
        -moz-transform: translateY($e);
        transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

// Font
@import url('https://fonts.googleapis.com/css?family=Roboto');