@import "_config.scss";
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $black;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

header {
  background: $white;
}

.menu {
  background: $blue;
  
  ul {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    list-style: none;

    li {
      width: 20%;
      height: 50px;
      text-align: center;
    }
    
    a {
      width: 100%;
      height: 50px;
      line-height: 50px;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;

      &.menu__item--active {
        background: $white;
        color: $blue;
      }
    }
  }
}

footer {
  background: $gray;

  .container {    
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }

  nav {
    width: 20%;
  }
}